{
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "indent": ["error", 2],
    "newline-per-chained-call": "error",
    "semi": "error",
    "comma-dangle": "error",
    "quotes": ["error", "single"],
    "comma-spacing": "error"
  }
}